*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full {
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/bg-2.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.big-letter {
        font-size: 95px;
        display: inline-block;
        margin: 20px 0;
        text-transform: uppercase;

}

.glowing-button {
        background-color: white; /* Green background color */
        color: black; /* White text color */
        border: none; /* Remove border */
        padding: 15px 30px; /* Add padding */
        text-align: center; /* Center text horizontally */
        text-decoration: none; /* Remove underlines from links */
        display: inline-block; /* Make it a block element (full-width) */
        font-size: 20px; /* Increase font size */
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px #4CAF50; /* Add a glowing effect to the button */
}
